[submodule "sw/main/lib/umm_malloc/umm_malloc"]
	path = sw/main/lib/umm_malloc/umm_malloc
	url = https://github.com/rhempel/umm_malloc.git
[submodule "sw/tests/fsdev/lib/umm_malloc/umm_malloc"]
	path = sw/tests/fsdev/lib/umm_malloc/umm_malloc
	url = https://github.com/rhempel/umm_malloc.git
[submodule "sw/main/modules/audio/vgm"]
	path = sw/main/modules/audio/vgm
	url = ../vgmcore.git
[submodule "sw/main/lib/lvgl"]
	path = sw/main/lib/lvgl
	url = ../lvgl.git
	branch = vgmplayer
