# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck        
*.sch-bak
*.kicad_pcb-bak
*-backups
*~
_autosave-*
*.tmp


# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv


# Gerber
gerber/

#BOM
bom/

#Fab
#fab/
